In [4]:
import pandas as pd
import numpy as np
from numpy import nan as NA

In [12]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],[NA, NA, NA], [NA, 6.5, 3.]])
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [13]:
r=[]
r=range(3)
r

range(0, 3)