In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

重新索引,index赋值直接修改原index的值,reindex是原来的index排序，产生新的视图，**原值不变**

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b','a', 'c'])
# obj.index=list('abcd')
obj2=obj.reindex(sorted(obj.index))
obj2

重新索引，往后填充

In [ ]:
obj.index=[2,4,6,8]
obj.reindex(range(9),method='bfill')

删除横、列,显示视图，原值不变

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah','New York'],columns=['one', 'two', 'three', 'four'])
data.drop('Ohio',axis='index')
data.drop('Ohio')
data.drop('one',axis=1)
data.drop('two',axis='columns')

In [ ]:
data.drop('one',axis=1,inplace=True) #原地修改data,原值改变小心使用
data

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj[[1,3]]  #选取第1,3行
obj[1:3] #取1-2行

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah','New York'],columns=['one', 'two', 'three', 'four'])
data[1:3] #取1-2行
data[['one','two']] #取两列
data[data['three'] <5]=0 #数据清洗
data

In [ ]:
# 以下两式等价，iloc是用数字，loc用原名称
data.loc['Colorado', ['two', 'three']]
data.iloc[1,[1, 2]]

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
np.abs(frame)
f = lambda x: x.max() - x.min()
frame.apply(f,axis=1)

In [ ]:
# 构造函数，可以批量处理表格内数据，格式转换，判断等
f=lambda x:pd.Series([x.min(), x.max()], index=['min','max'])
frame.apply(f)
format=lambda x:'%.2f'%x
fs=lambda x:str(x)         
fabs=lambda x:abs(x)
frame.applymap(fs)
frame.applymap(fabs)
frame['e'].map(fs)+frame['e'].map(fs) #字符串相加

In [ ]:
#根据索引，值进行排序
frame.sort_index(axis=0,ascending=False)
frame.sort_values(by='b',ascending=False)
frame.sort_values(by=['b','d'],ascending=False)

In [ ]:
frame['b'].rank(ascending=False)
frame['b'].rank(method='first') #根据值在原数据中出现的顺序给出排名
frame.rank(axis=0)

In [ ]:
#常用函数
frame.sum(axis=1,skipna=False)
frame.cumsum()
frame.describe()
frame.var()
frame.diff()
frame.info()

In [24]:
# 生成模拟数据并填入NaN,np.NaN用None也行，赋值的方法是构造index和column
df=DataFrame(np.random.randint(1,150,size=(150,3)),columns=['Python','Math','En'])
for i in range(15):
    index=(np.random.randint(0,150,size=1))[0]
    columns=(np.random.randint(0,3,size=1))[0]
    df.iloc[index,columns]=np.NaN  #也可用None
# df.info()

# cond=df.isnull().any(axis=1)
# df[cond]                           #取出有空数据的行

# cond=df.notnull().all(axis=1)
# df[cond]                           #取无NaN的数据

df.dropna()                          #删除有空数据的行

     Python   Math     En
0      34.0  116.0  132.0
1     148.0   64.0   38.0
2      81.0   43.0   76.0
3     121.0   56.0   43.0
4     116.0  105.0   76.0
..      ...    ...    ...
144   138.0   53.0  142.0
145   103.0   81.0   14.0
146    63.0  145.0  132.0
148     2.0   73.0  145.0
149   132.0  118.0   56.0

[135 rows x 3 columns]

In [18]:
df

     Python   Math     En
0       2.0   69.0    NaN
1       NaN   21.0  133.0
2      82.0    NaN  143.0
3     141.0  114.0   76.0
4      41.0  124.0  144.0
..      ...    ...    ...
145    67.0    1.0   22.0
146    48.0   54.0  116.0
147   133.0  131.0   89.0
148    94.0   18.0  105.0
149    76.0   51.0   84.0

[150 rows x 3 columns]

In [ ]:
import tushare
td=tushare.get_day_all()

In [ ]:
td.columns

In [ ]:
td.index=td.iloc[:,0]

In [ ]:
td.loc['600698']

In [ ]:
data=np.random.randn(2,3)

In [ ]:
a=np.arange(1,13).reshape(2,2,3)
a

In [ ]:
b=a[0]
b

In [ ]:
a[0]=10

In [ ]:
a

In [ ]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])

In [ ]:
arr[(arr>arr2)]

In [ ]:
a=np.arange(32).reshape(8,-1)

In [ ]:
a[[1,5,0]]

In [ ]:
a[(a>8)|(a<15)]=100

In [ ]:
np.square(a,a)

In [ ]:
e=10**(-2)
x=y=9
while (y**2-x)>e:
    y=(y+x/y)/2
print(y)

In [ ]:
def sqrt(x):
    y =x
    n=1
    while abs(y * y - x) > 1e-6 :
        y= (y+x/y)/2
        n+=1
    return y,n
print(sqrt(5000))

In [ ]:
print(float(1e-6))

In [ ]:
import random
position = 0
walk = [position]
steps = 1000
for i in range(steps):
    step = 1 if random.randint(0, 1) else -1
    position += step
    walk.append(position)

In [ ]:
plt.plot(walk[:100])

In [ ]:
obj=pd.Series([1,2,5],index=list('abc'))
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000,'Utah': 5000}
obj4=pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4=pd.Series(sdata,index=states)

In [ ]:
obj4[obj4.isnull()]=0

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame.index=[list('abcdef')]

In [ ]:
list(frame.values)[1][2]=10

In [ ]:
frame['add']=0

In [ ]:
frame

In [ ]:
dz=pd.read_excel('待装.xlsx')
dz.to_excel('dz.xlsx',sheet_name='b',index=False)

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3=pd.DataFrame(pop,index=['Nevada','Ohio'])

In [ ]:
frame3

In [ ]:
dz.to_excel('dz.xlsx',sheet_name='b',index=False)

In [ ]:
def f(s):
    d={'(':')','[':']','{':'}'}
    t=[]
    for c in s:
        if c in '([{':
            t.append(c)
        if not t and (c in ')]}'):
            return False
        if (c in ')]}') and (d[t[-1]]==c):
            t.pop()
    if t:
        return False
    else:
        return True

s=input()
print(f(s))

In [ ]:
s=input()
res=[]
for c in s:
    if not res:
        res.append(c)
    elif c==res[-1]:
        res.pop()
    else:
        res.append(c)
if res:
    print(''.join(res))
else:
    print('None')

In [ ]:
n=int(input())
print(' '*(n-1)+'#')
for i in range(n-2):
    print(' '*(n-i-2)+'#'+' '*(i*2+1)+'#')
print('#'*(2*n-1))

In [ ]:
def f(n):
    print('*'.center(n))
    for i in range(n-2):
        print(('*'+' '*int(((i+1)*n/(n-1))+0.5)+'*').center(n))
    print('*'*n)
f(15)

In [ ]:
import akshare as ak
franchise_china_df = ak.franchise_china()
print(franchise_china_df.head())

In [ ]:
df

In [ ]:
class Human:

    def __init__(self, name):
        print('init method for {}'.format(name))

    def __new__(cls, name):
        print(name)
        if name == 'chengjie':
            r = super(Human, cls).__new__(cls)
            return r
        else:
            pass


    # 方法
    def eat(self):
        print('eat method')

    def run(self):
        print('run method')


human = Human('chengjie')  # 执行这一步实例化对象human之后, 会先触发__new__打印出chengjie,返回实例化对象,再触发 __init__,打印出init method for chengjie